@use '../util/' as *;

.toggle {

  &__wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: em(48);
    height: em(24);
    border-radius: em(24);
    cursor: pointer;
  }

  input[type='radio'] {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 45%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
  }

  &__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: em(42);
    transition: all 0.1s ease-out;
    background: var(--toggle-bg);
  }

  &__switcher {
    display: block;
    position: absolute;
    top: rem(3);
    left: rem(3);
    right: 100%;
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background: var(--toggle-button);
    transition: all 0.150s ease-out;
    z-index: 2;
  }

  #radio-light:checked ~ &__switcher {
    left: 55%;
  }

}