@use '../util/' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
	height: -webkit-fill-available;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	color: var(--text);
	background-color: var(--bg);
	font-family: var(--font-body);
	text-transform: uppercase;
	min-height: 100vh;
	min-height: 100dvh;
	min-height: -webkit-fill-available;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

header {
	margin-bottom: 4em;
	border-bottom: rem(1) solid var(--absent);
}
