:root {
	--text: hsl(0, 0%, 100%);
	--bg: hsl(248, 19%, 8%);
	--bg-modal: hsl(240, 3%, 7%);
	--absent: hsl(0, 0%, 30%);
	--correct: hsl(115, 29%, 43%);
	--present: hsl(49, 51%, 47%);
	--key: hsl(200, 1%, 51%);
}
