@use '../util/' as *;

.container {
	margin: 0 auto;
	width: min(rem(1100), 100%)
}

.header {
	text-align: center;
	border-bottom: rem(1) solid var(--absent);
	margin-bottom: 1em;
}

.main {
	display: grid;
	row-gap: rem(100);
}