@use '../util' as *;

h1,
h2,
h3 {
	margin: 0;
	line-height: 1.1;
}

h1 {
	font-size: 2rem;
	font-size: clamp(1.5rem, 1.5rem + 2vw, 3.2rem);
	padding-block: 0.15em;		
	line-height: 1;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
