@use '../util/' as *;

h1, 
h2, 
h3 {
  margin: 0;
  line-height: 1;
  font-weight: 700;
  color: $text-secondary;
}


h1, h2 {
  font-size: rem(40);
  letter-spacing: rem(-2.5);
  
  @include breakpoint(medium) {
    font-size: rem(72);
  }
  @include breakpoint(large) {
    font-size: rem(88);
  }
}

h3 {
  font-size: rem(24);
}

p {
  margin: 0;
  color: $text-primary;
}

a,
a:visited,
a:active {
  text-decoration: none;
}