$clr-primary-100: hsl(0, 0%, 100%);
$clr-primary-400: hsl(0, 0%, 85%);
$clr-accent-400: hsl(0, 0%, 14%);
$clr-accent-700: hsl(0, 0%, 8%);
$clr-neutral-400: hsl(153, 71%, 59%);
$clr-danger-400: hsl(7, 100%, 68%);

$bg: $clr-accent-700;
$bg-alt: $clr-accent-400;
$text-primary: $clr-primary-400;
$text-secondary: $clr-primary-100;
$button: $clr-neutral-400;
$error: $clr-danger-400;