@use '../util' as *;

.guess {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: rem(7);
  max-width: fit-content;
  margin: 0 auto rem(7) auto;

  &__tile {
    border: rem(1) solid var(--tile);
    width: clamp(rem(40), rem(20) + 2.5vw, rem(80));
    height: clamp(rem(40), rem(20) + 2.5vw, rem(80));
  }
}
