@use '../util' as *;

.guess {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: rem(7);
  max-width: fit-content;
  margin: 0 auto rem(7) auto;
  text-transform: uppercase;

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  &[data-animation=shake] {
    animation-name: shake;
    animation-duration: 600ms;
  }

  & > div[data-animation=flip] {
    animation-name: flip;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  } 


  &__tile {
    display: flex;
    border: rem(2) solid var(--absent);
    justify-content: center;
    align-items: center;
    font-size: clamp(rem(24), rem(20) + 1.1vw, rem(56));
    font-weight: 700;
    line-height: 1;
    width: 1.5em;
    height: 1.5em;
    @keyframes pop {
      to {
        transform: scale(1.1);
      }
    }
    @keyframes flip {
      0% {
        transform: rotateX(0deg);
      }
      50% {
        transform: rotateX(-90deg);
      }
      100% {
        transform: rotateX(0deg);
      }
    }

    &[data-state=correct] {
      border-color: var(--correct);
      background-color: var(--correct);
    }

    &[data-state=present] {
      border-color: var(--present);
      background-color: var(--present);
    }

    &[data-state=absent] {
      border-color: var(--absent);
      background-color: var(--absent);
    }

    &[data-animation=pop] {
      animation-name: pop;
      animation-duration: 100ms;
      animation-timing-function: ease-in;
      border-color: var(--key);
    }
  }
}
