@use '../util/' as *;

.header {
  display: grid;
  grid-template-columns: rem(75) 1fr rem(70);
  align-items: center;
  text-align: center;

  &__navigation {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__navigation-list {
    display: flex;
    gap: rem(12);
  }

  &__button {
    display: flex;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
    img {
      height: clamp(rem(20), rem(12) + 1vw, rem(28));
    }
  }
}