@use '../util/' as *;

.header {
  display: grid;
  grid-template-columns: rem(75) 1fr rem(75);
  padding-inline: rem(10);
  text-align: center;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    gap: rem(12);
  }

  &__button {
    display: flex;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
    img {
      height: clamp(rem(20), rem(12) + 1vw, rem(28));
    }
  }
}